<html>

<head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="jquery-3.2.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <title>Definite Database Manager</title>
</head>

<body class="full-content">
    <div class="row full-content">
        <div class="col-sm-3 hotpink-background">
            hello
        </div>
        <div class="col-sm-9">
            <div class="row query-area">
                <div class="col-sm-12 red-background">
                    hello
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    hello
                </div>
            </div>
        </div>
    </div>
</body>

</html>