<html>
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="jquery-3.2.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <link rel="stylesheet" href="codemirror/codemirror.css" />
    <script src="codemirror/codemirror.js"></script>
    <script src="codemirror/matchbrackets.js"></script>
    <script src="codemirror/sql.js"></script>
    <link rel="stylesheet" href="codemirror/show-hint.css" />
    <script src="codemirror/show-hint.js"></script>
    <script src="codemirror/sql-hint.js"></script>
    <style>
        .CodeMirror {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            height: 100%;
        }
    </style>

    <title>Definite Database Manager</title>
</head>

<body class="full-content">
    <div class="row query-area margin-0">
        <div class="col-sm-3 hotpink-background">
            hello
        </div>
        <div class="col-sm-9 red-background padding-0">
            <textarea id="code" name="code">-- SQL Mode for CodeMirror
SELECT SQL_NO_CACHE DISTINCT
        @var1 AS `val1`, @'val2', @global.'sql_mode',
        1.1 AS `float_val`, .14 AS `another_float`, 0.09e3 AS `int_with_esp`,
        0xFA5 AS `hex`, x'fa5' AS `hex2`, 0b101 AS `bin`, b'101' AS `bin2`,
        DATE '1994-01-01' AS `sql_date`, { T "1994-01-01" } AS `odbc_date`,
        'my string', _utf8'your string', N'her string',
        TRUE, FALSE, UNKNOWN
    FROM DUAL
    -- space needed after '--'
    # 1 line comment
    /* multiline
    comment! */
    LIMIT 1 OFFSET 0;
            </textarea>
        </div>
    </div>
    <div class="row results-area table-background margin-0">
        <div class="col-sm-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    window.onload = function () {
        var mime = 'text/x-mariadb';

        // 'text/x-sql'
        // 'text/x-mysql'
        // 'text/x-mariadb'
        // 'text/x-cassandra'
        // 'text/x-plsql'
        // 'text/x-mssql'
        // 'text/x-hive'
        // 'text/x-pgsql'
        // 'text/x-gql'
        // 'text/x-gpsql'
        // 'text/x-esper'

        window.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
            mode: mime,
            indentWithTabs: true,
            smartIndent: true,
            lineNumbers: true,
            matchBrackets: true,
            autofocus: true,
            extraKeys: { "Ctrl-Space": "autocomplete" },
            hintOptions: {
                tables: {
                    users: ["name", "score", "birthDate"],
                    countries: ["name", "population", "size"]
                }
            }
        });
    };
</script>

</html>