.full-content {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.hotpink-background {
    background-color: hotpink;
}

.red-background {
    background-color: red;
}

.query-area {
    height: 65%;
}

.results-area {
    height: 35%;
}

.table-background {
    background-color: #212529;
}

.margin-0 {
    margin: 0px;
}