.full-content {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.hotpink-background {
    background-color: hotpink;
}

.red-background {
    background-color: red;
}

.query-area {
    height: 60%;
}